<!DOCTYPE HTML>
<html lang="pl">
    <head>
        <title>Respondeo</title>

        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/jpg" href="/logo.webp">
        <link rel="stylesheet" type="text/css" href="/style.css?v={{ now(timestamp=true, utc=true) }}">
        <link rel="stylesheet" type="text/css" href="/special.css?v={{ now(timestamp=true, utc=true) }}">
    </head>
    <body>
        <div class="app">
            <header>
                <h1>
                    <img src="./logo.webp">
                    respondeo
                </h1>
                <h2>centrum&nbspwsparcia&nbspi poszukiwania&nbsprozwiązań</h2>
            </header>

            <menu>
                {% if page.path %}
                    {% set_global path = page.path %}
                {% else %}
                    {% set_global path = "/" %}
                {% endif %}

                <style>
                    menu > a[href="/{{ path | replace(from='/', to='') }}"] {
                        color: #f8a5bd !important;
                    }
                </style>

                <a href="/">strona główna</a>
                <a href="/about">o mnie</a>
                <a href="/offer">oferta</a>
                <a href="/prices">cennik</a>
                <a href="/contact">kontakt</a>
            </menu>

            <article>
                {% block content %} {% endblock %}
            </article>
            
            <footer>
                Copyright © 2023 |
                    <a href="">
                        <img src="icon/instagram.svg" class="icon">
                    </a>
                    <a href="">
                        <img src="icon/facebook.svg" class="icon">
                    </a>
                    <a href="https://pl.linkedin.com/in/katarzyna-lenkiewicz-trzeciak-b23b4227a">
                        <img src="icon/linkedin.svg" class="icon">
                    </a>
                | Stworzone z ♥️ do ludzi
            </footer>
        </div>
    </body>
</html>